body{
    background-image: linear-gradient(to right, rgb(175, 174, 174), rgb(245, 243, 243) );
}
.color-nav{
    background-color: rgba(179, 174, 174, 0.438);
}
.logo{
    margin: 5%;
}
h1{
    font-size: 65px;
    color: grey;
}
footer{
    font-size: 10px; 
    text-align: center;
    margin: 2%;
}